<p> Golconda Fort</p>
<ul>The Fort</ul>
<li>
A medieval fort now overlooking the city ,Golconda is one of the historical places to visit in Hyderabad.
Orginally buit in mud on 400ft hill, the fort runis of today have seen the reign of several dynasties.
suited 11km away from the bustling urbanism of Hyderabad,it derives its name from a Telugu word meaning Shephered's Hill.
The remains of multiple fortifications layers, armories,magazines,mosques,granaries, reservoirs,audience chambers royal dwellings 
comlement the striking appearance of the fort.</li>
<br>
<div id="slider">
    <figure>
    <img src="/assets/images/pl1.jpg" height="550px" width="1500px" alt>
    <img src="/assets/images/pl2.jpg" height="550px" width="1500px" alt>
    <img src="/assets/images/pl3.jpg" height="550px" width="1500px" alt>
    <img src="/assets/images/pl4.jpg" height="550px" width="1500px" alt>
    <img src="/assets/images/pl5.jpg" height="550px" width="1500px" alt>
    </figure>
    </div>
<p> Charminar</p>
<ul>Charminar</ul>
<li>
The epic signature of the city, Chae Minar makes for the wonderful sight .Located in the heart of Hyderabad's old city,
sourrounded by Macca Masjid, built using bricks from Mecca and Lard Bazaar- a boisterou shopping street , this land marks is places 
in the history
Built in 1591 by Muhammad Quli Qutub Shah, it was constructed to commemorate the founding of Hyderabad and 
also to ward of a deadly epidemic that was rampant then in the Golconda region. Graced by 4 minarets soaring almost 50ft in height,
 it has a mosque and 45 prayer spaces is amongst the famous places in Hyderabad.</li>

<ul>Macca Masjid</ul>
<li>
Main article: Makkah Masjid, Hyderabad
The monument overlooks another grand mosque called the Makkah Masjid. Muhammad Quli Qutb Shah, the 5th ruler of 
the Qutb Shahi dynasty, commissioned bricks to be made from the soil brought from Mecca, the holiest site of Islam, 
and used them in the construction of the central arch of the mosque, hence its name.</li>

<ul>Bazaars</ul>
<li>
Main article: Lad Bazaar

Char Kaman seen from the top of the Charminar
A market exists around Charminar. Lad Bazaar is known for its jewelry, especially bangles, and 
the Pathar Gatti, which is known for its pearls. In its heyday, the Charminar market had some 14,000 shops.
 The Bazaars surrounding Charminar were described in the poem "In the Bazaars of Hyderabad" by Sarojini Naidu.</li>
 <br>
 <div id="slider">
     <figure>
     <img src="/assets/images/ch1.jpg" height="550px" width="1500px" alt>
     <img src="/assets/images/ch2.jpg" height="550px" width="1500px" alt>
     <img src="/assets/images/ch5.jpg" height="550px" width="1500px" alt>
     <img src="/assets/images/ch3.jpg" height="550px" width="1500px" alt>
     <img src="/assets/images/ch4.jpg" height="550px" width="1500px" alt>
     
     </figure>
     </div>
     <p> Ramoji Flim City</p>
     <li>
     Certainly one of the best places to visit in Hyderabad with family, Ramoji Film City makes its way to every traveller’s list 
     because of its magical theme around cinema, which is the most common love of every Indian.
      Ramoji Film city is said to be one of the haunted destinations in India.
       The only one of its kind in India, this holiday destination offers something special to everyone and
        is one of the best places to visit in Hyderabad.</li>

   <div id="slider">
    <figure>
    <img src="/assets/images/r1.jpg" height="550px" width="1500px" alt>
    <img src="/assets/images/r8.jpg" height="550px" width="1500px" alt>
    <img src="/assets/images/r7.jpg" height="550px" width="1500px" alt>
    <img src="/assets/images/r5.jpg" height="550px" width="1500px" alt>
    <img src="/assets/images/r6.jpg" height="550px" width="1500px" alt>
    
    </figure>
    </div>
   <br>
<ul>Booking Rooms Availabe</ul>
<li>
www.agoda.com/Hotels/Deals
15% Off Ramoji City Hyderabad. Best-Price Guarantee, Book & Save!
Secure Payments · Up To 15% Off · Limited Time Offers
Types: Hotels, B&B, Inns, Motels
Readers' top pick for Best Online Travel Service 2016 - asiaone</li>
<br>
 <div id="slider">
     <figure>
        <img src="/assets/images/r9.jpg" height="550px" width="1500px" alt>
     <img src="/assets/images/ra.jpg" height="550px" width="1500px" alt>
     <img src="/assets/images/rt.jpg" height="550px" width="1500px" alt>
     </figure>
     </div>
<br>




