p{
    text-align:center;
    color:palevioletred;
    font-size:40px;
    }

ul{
    background-color:grey;
    align-content:center
}
li{
    font-size:20px
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; }
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 5s slidy infinite;
    }
    p{
        text-align:center;
        color:purple;
        font-size:40px;
        }
    
    ul{
        background-color:grey;
        align-content:center
    }
    
    @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }
        
        body { margin: 0; }
        div#slider { overflow: hidden; }
        div#slider figure img { width: 20%; float: left; }
        div#slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 20s slidy infinite;
        }
        p{
            text-align:center;
            color:darkseagreen;
            font-size:40px;
            }
        
        @keyframes slidy {
            0% { left: 0%; }
            20% { left: 0%; }
            25% { left: -100%; }
            45% { left: -100%; }
            50% { left: -200%; }
            70% { left: -200%; }
            75% { left: -300%; }
            95% { left: -300%; }
            100% { left: -400%; }
            }
            
            body { margin: 0; }
            div#slider { overflow: hidden; }
            div#slider figure img { width: 20%; float: left; }
            div#slider figure {
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            text-align: left;
            font-size: 0;
            animation: 22s slidy infinite;
            }
            ul{
                background-color:grey;
                align-content:center;
                font-size:25px;
            
            }
            @keyframes slidy {
                0% { left: 0%; }
                20% { left: 0%; }
                25% { left: -100%; }
                45% { left: -100%; }
                50% { left: -200%; }
                70% { left: -200%; }
                75% { left: -300%; }
                95% { left: -300%; }
                100% { left: -400%; }
                }
                
                body { margin: 0; }
                div#slider { overflow: hidden; }
                div#slider figure img { width: 20%; float: left; }
                div#slider figure {
                position: relative;
                width: 500%;
                margin: 0;
                left: 0;
                text-align: left;
                font-size: 0;
                animation: 28s slidy infinite;
                }
