p{
    text-align:center;
    color:darkseagreen;
    font-size:40px;
    }
h1{
    align-content:center;
    color:brown;
    font-size:30px;
}
li{
  font-size:20px
}
ul{
    background-color:grey;
    align-content:center;
    font-size:25px;
}
h2{
    align-content:center;
    color:brown;
    font-size:30px;
}
h3{
    align-content:center;
    color:brown;
    font-size:30px;
}
h4{
  align-content:center;
  color:brown;
  font-size:30px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 365px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
