<div id="slider">
    <figure>
    <img src="/assets/images/image0.jpg" height="800px" width="800px" alt>
    <img src="/assets/images/image1.jpg" height="800px" width="800px" alt>
    <img src="/assets/images/image2.jpg" height="800px" width="800px" alt>
    <img src="/assets/images/image3.jpg" height="800px" width="800px" alt>
    <img src="/assets/images/image4.jpg" height="800px" width="800px" alt>
    <img src="/assets/images/image5.jpg" height="800px" width="800px" alt>
    </figure>
    </div>
    