<h3>Hyderabad-The city of pearls</h3>

<ul>
  <li><a routerLink="placetovisit">Tourist Places</a></li>
  <li><a routerLink="gallery">Gallery</a></li>
  <li><a routerLink="shopping">Shopping</a></li>
  <div id="t1">
  <li><a routerLink="aboutus">About Hyderabad</a></li>
  <li><a routerLink="contactus">Contact us</a></li>
  
 </div>
</ul>
<br>

<div id="slider">
  <figure>
  <img src="/assets/images/hyd.jpg" height="380px" width="1500px" alt>
  <img src="/assets/images/hyd1.jpg" height="380px" width="1500px" alt>
  <img src="/assets/images/hyd2.jpg" height="380px" width="1500px" alt>
  <img src="/assets/images/hyd3.jpg" height="380px" width="1500px" alt>
  <img src="/assets/images/h5.jpg" height="380px" width="1500px" alt>
  </figure>
  </div>
  <br>
  

<router-outlet></router-outlet>
