p{
    text-align:center;
    color:darkseagreen;
    font-size:40px;
    }
    li{
        font-size:20px
    }

ul{
    background-color:lightblue;
    align-content:center;
    font-size:25px;
}
h2{
    align-content:center;
    color:darkpink;
}